.spinner{
    top: 45%;
    left: 47%;
    position: fixed;
  }
  .applicationlist-container, #paginator {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1200px;
    max-height: 700px;
    overflow: auto;
    margin: 0 auto;
  }
  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }